body
{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    justify-content: center;
}

.container
{
    color: maroon;
    font-size: 20px;
    border: 1px solid black;
    width: 65%;
    margin: 0 auto;
}

#Cabecera
{
    color: white;
    background-color: green;
    margin: 0;
}

#Cabecera h1
{
    margin: 0;
}