body
{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
}

.container
{
    color: gray
    font-size: 20px;
    border: 1px solid black;
    width: 65%;
    margin: 0 auto;
}

#Cabecera
{
    color: white;
    background-color: #294297;
    margin: 0;
}

#Cabecera h1
{
    margin: 0;
}

.images
{
    width: 45px;
}